<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>아이디어 수정 페이지</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url 'posts:create' %}">아이디어 등록</a>
            <a href="{% url 'posts:list' %}">아이디어 관리</a>
            <a href="{% url 'posts:tool_create' %}">개발툴 등록</a>
            <a href="{% url 'posts:tool_list' %}">개발툴 관리</a>
        </nav>
        <main>
            <h1>Idea Detail Update</h1>
            <form action="{% url 'posts:update' post.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>아이디어명:<br/><input type="text" name="title" value="{{post.title}}"/></p>
                <p>Image:<br/>
                    <p>Currently:
                        {% if post.photo %}
                            {{ post.photo.url }}
                        {% endif %}
                    </p>
                    <p>Change:<input type="file" name="photo"/></p>
                <div>아이디어 설명:<br/>
                    <textarea name="content" cols="60" rows="10">{{post.content}}</textarea>
                </div>
                <p>아이디어 관심도:<br/><input type="number" name="interest" value="{{post.interest}}"/></p>
                <p>예상 개발툴:<br/><input type="text" name="devtool" value="{{post.devtool}}"/></p>
                <div>
                    <input type="submit" , value="SUBMIT" />
                </div>
            </form>
        </main>
    </body>
</html>