<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>아이디어 디테일 페이지</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url 'posts:create' %}">아이디어 등록</a>
            <a href="{% url 'posts:list' %}">아이디어 관리</a>
            <a href="{% url 'posts:tool_create' %}">개발툴 등록</a>
            <a href="{% url 'posts:tool_list' %}">개발툴 관리</a>
        </nav>
        <main>
            <h1>Idea Detail</h1>
            {% if post.photo %}
                <p>
                    <img src="{{ post.photo.url }}" width=200/>
                </p>
            {% endif %}
            <h1>{{post.title}}</h1>
            <p> 1) 아이디어 관심도<br />{{post.interest}}<br /></p>
            <p> 2) 예상 개발 툴<br />{{post.devtool}}<br /></p>
            <p> 3) 아이디어 설명<br />{{post.content}}<br /></p>
            <div><a href="{% url 'posts:delete' post.id %}">삭제</a></div>
            <div><a href="{% url 'posts:list' %}">목록</a></div>
            <div><a href="{% url 'posts:update' post.id %}">수정</a></div>
        </main>
    </body>
</html>