<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>개발툴 디테일 페이지</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url 'posts:create' %}">아이디어 등록</a>
            <a href="{% url 'posts:list' %}">아이디어 관리</a>
            <a href="{% url 'posts:tool_create' %}">개발툴 등록</a>
            <a href="{% url 'posts:tool_list' %}">개발툴 관리</a>
        </nav>
        <main>
            <h1>DevTool Detail</h1>
            <h1>{{post.name}}</h1>
            <p>{{post.kind}}<br /></p>
            <p>{{post.content}}<br /></p>
            <p>만들 수 있는 sw목록<br /></p>
            <div><a href="{% url 'posts:tool_delete' post.id %}">삭제</a></div>
            <div><a href="{% url 'posts:tool_list' %}">목록</a></div>
            <div><a href="{% url 'posts:tool_update' post.id %}">수정</a></div>
        </main>
    </body>
</html>